<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <style>
        body{
            background:rgb(139, 225, 78);
        }
        {% comment %} .errorlist{
            list-style-type:none;
            color:red;
        } {% endcomment %}
    </style>
</head>
<body>

    {% comment %} <form action="" method="get"> {% endcomment %}
    <form action="" method="POST" novalidate>
        <table>
            {% csrf_token %}
            {{form.as_p}}  
        </table>
        <input type="submit" value="submit">
    </form>
</body>
</html>