<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock title %}</title>
    <link rel="stylesheet" href='{% static "css/style.css" %}'/>
</head>
<body>
    <nav>
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Django Course</li>
        </ul>
    </nav>
 {% block content%} {% endblock content %}
 <img src='{% static "image/flower.jpg" %}' width=700/>
 <script src="{% static 'js/all.js' %}"></script>
 <form action=" ">
    <input style="color:green" type="button" value="click me" onclick="disp()"/>
 </form>
</body>
</html>